body {
	font-family: Fjord One;
	font-size: 18px;
	line-height: 1.5;
	
	background-color: #ffffff;
	color: #333333;
	margin: 0 auto 300px auto;
	width: 900px;

  transition: background-color 1s ease;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

h1 {
  margin: 0;
	font-weight: 700;
}

nav a {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid #7fdbff;
  margin: 0 0 0 15px;
}

section {
  padding: 100px 0 100px 0;
}

section:first-of-type {
  padding-top: 140px;
}

section img {
  width: 900px;
  height: 600px;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
}

.hidden {
  transform: translateY(-100%)
}